<div id="<%= dom_id alumno %>">
  <p>
    <strong>Nombre:</strong>
    <%= alumno.nombre %>
  </p>

  <p>
    <strong>Grado:</strong>
    <%= alumno.grado %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= alumno.edad %>
  </p>

</div>
