<div class="row" style="margin-top: 10px;">
  <div class="col-sm-4" style="margin-bottom: 10px">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Cursos</h5>
        <p class="card-text">Ver lista de cursos disponibles</p>
        <a href="/cursos" class="btn btn-primary">Ir a cursos</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4" style="margin-bottom: 10px">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Alumnos</h5>
        <p class="card-text">Ver lista de alumnos</p>
        <a href="/alumnos" class="btn btn-primary">Ir a alumnos</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4" style="margin-bottom: 10px">
    <div class="card h-100" >
      <div class="card-body">
        <h5 class="card-title">Notas</h5>
        <p class="card-text">Ver lista de notas por curso o alumno</p>
        <a href="/notas" class="btn btn-primary">Ir a notas</a>
      </div>
    </div>
  </div>
</div>