/* Global Styles */
* {
	font-family: "Montserrat", sans-serif;
}

.action-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #2c2c2c;
	opacity: 0.6;
	height: 100%;
}

.action-btn:hover {
	opacity: 1;
}

.action-btn i {
	font-size: 25px;
}

.action-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
	gap: 10px;
}

.action-link {
	text-decoration: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
}

.btn-green {
	background-color: #1d6f42;
	color: white;
	text-decoration: none;
}

.btn-green:hover {
	text-decoration: none;
	color: white;
}

.card-btn {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center;
	align-items: center;
	min-height: 100px !important;
}

.btn-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 10px;
	min-height: 50px;
}

.promedio {
	display: flex;
	justify-content: flex-start;
	align-items: center !important;
	gap: 15px;
	margin-bottom: 20px;
}
