<h1>Editing nota</h1>

<%= render "form", nota: @nota %>

<br>

<div>
  <%= link_to "Ir cursos", @nota, :class=>"btn btn-warning"   %> |
  <%= link_to "Lista de cursos", notas_path, :class=>"btn btn-warning"   %>
</div>
